@page
@model RechargeAppWeb.Pages.SitemapModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap</title>
</head>
<body>

    <h2>Sitemap</h2>
    <hr>

    <div>
        <p><strong>URL:</strong> <a href="http://localhost:5026/">http://localhost:5026/</a></p>
        <p><strong>Last Modified:</strong> 2025-02-25T06:47:34+00:00</p>
        <p><strong>Priority:</strong> 1.00</p>
    </div>
    <hr>

    <div>
        <p><strong>URL:</strong> <a href="http://localhost:5026/Feedback">http://localhost:5026/Feedback</a></p>
        <p><strong>Last Modified:</strong> 2025-02-25T06:47:34+00:00</p>
        <p><strong>Priority:</strong> 0.80</p>
    </div>
    <hr>

    <div>
        <p><strong>URL:</strong> <a href="http://localhost:5026/Login">http://localhost:5026/Login</a></p>
        <p><strong>Last Modified:</strong> 2025-02-25T06:47:34+00:00</p>
        <p><strong>Priority:</strong> 0.80</p>
    </div>
    <hr>

    <div>
        <p><strong>URL:</strong> <a href="http://localhost:5026/Privacy">http://localhost:5026/Privacy</a></p>
        <p><strong>Last Modified:</strong> 2025-02-25T06:47:34+00:00</p>
        <p><strong>Priority:</strong> 0.80</p>
    </div>
    <hr>

    <div>
        <p><strong>URL:</strong> <a href="http://localhost:5026/CustomerCare">http://localhost:5026/CustomerCare</a></p>
        <p><strong>Last Modified:</strong> 2025-02-25T06:47:34+00:00</p>
        <p><strong>Priority:</strong> 0.80</p>
    </div>
    <hr>

</body>
</html>
